\:host
  flex: 1
  padding: $spacing-default 0
  overflow: scroll

.container
  max-width: 50rem
  margin: 0 auto
  padding: 0 $spacing-default
  background: rgba(green, 0.2)

.text,
.media
  margin-bottom: $spacing-default
