<div class="container">
  <h1 class="title">Sticky Videos</h1>

  <div class="text">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus itaque sapiente voluptates aut, nisi deserunt nam, expedita
      adipisci corrupti provident, iure debitis odio laborum sint a quam perferendis cupiditate blanditiis.
    </p>

    <p>
      Quos, a? Accusantium doloribus velit suscipit asperiores nesciunt rem illo placeat architecto voluptas nihil omnis, eligendi
      consequuntur itaque facilis consequatur doloremque et excepturi distinctio dolorum veniam fugiat aliquid commodi unde.
    </p>

    <p>
      Corporis amet explicabo error est atque perferendis dolorum suscipit non tempore quibusdam! Pariatur, magni dolore! Vero culpa
      possimus quibusdam molestias saepe deserunt quas necessitatibus sapiente neque, nesciunt iste quasi beatae.
    </p>

    <p>
      Similique odio earum itaque voluptas eum! Ad vitae libero dolorum eius nam exercitationem aliquid id at repellendus nobis, porro
      voluptas unde odio necessitatibus rem labore voluptatem eaque, accusamus alias? Beatae.
    </p>
  </div>

  <figure class="media">
    <video class="video"
      src="assets/sample_1280x720_1mb.mp4"
      poster="assets/sample_1280x720_poster.png"
      controls
    >
      Sorry, your browser doesn't support embedded videos,
      but don't worry, you can <a href="assets/sample_1280x720_1mb.mp4">download it</a>
      and watch it with your favorite video player!
    </video>
    <figcaption class="caption">Video 1</figcaption>
  </figure>

  <div class="text">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus itaque sapiente voluptates aut, nisi deserunt nam, expedita
      adipisci corrupti provident, iure debitis odio laborum sint a quam perferendis cupiditate blanditiis.
    </p>

    <p>
      Quos, a? Accusantium doloribus velit suscipit asperiores nesciunt rem illo placeat architecto voluptas nihil omnis, eligendi
      consequuntur itaque facilis consequatur doloremque et excepturi distinctio dolorum veniam fugiat aliquid commodi unde.
    </p>

    <p>
      Corporis amet explicabo error est atque perferendis dolorum suscipit non tempore quibusdam! Pariatur, magni dolore! Vero culpa
      possimus quibusdam molestias saepe deserunt quas necessitatibus sapiente neque, nesciunt iste quasi beatae.
    </p>

    <p>
      Similique odio earum itaque voluptas eum! Ad vitae libero dolorum eius nam exercitationem aliquid id at repellendus nobis, porro
      voluptas unde odio necessitatibus rem labore voluptatem eaque, accusamus alias? Beatae.
    </p>
  </div>

  <figure class="media">
    <video class="video"
      src="assets/sample_1280x720_1mb.mp4"
      poster="assets/sample_1280x720_poster.png"
      controls
    >
      Sorry, your browser doesn't support embedded videos,
      but don't worry, you can <a href="assets/sample_1280x720_1mb.mp4">download it</a>
      and watch it with your favorite video player!
      </video>
    <figcaption class="caption">Video 2</figcaption>
  </figure>

  <div class="text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus itaque sapiente voluptates aut, nisi deserunt nam, expedita
        adipisci corrupti provident, iure debitis odio laborum sint a quam perferendis cupiditate blanditiis.
      </p>

      <p>
        Quos, a? Accusantium doloribus velit suscipit asperiores nesciunt rem illo placeat architecto voluptas nihil omnis, eligendi
        consequuntur itaque facilis consequatur doloremque et excepturi distinctio dolorum veniam fugiat aliquid commodi unde.
      </p>

      <p>
        Corporis amet explicabo error est atque perferendis dolorum suscipit non tempore quibusdam! Pariatur, magni dolore! Vero culpa
        possimus quibusdam molestias saepe deserunt quas necessitatibus sapiente neque, nesciunt iste quasi beatae.
      </p>

      <p>
        Similique odio earum itaque voluptas eum! Ad vitae libero dolorum eius nam exercitationem aliquid id at repellendus nobis, porro
        voluptas unde odio necessitatibus rem labore voluptatem eaque, accusamus alias? Beatae.
      </p>
    </div>

</div>

